<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cogensoft_tracking>
            <general>
                <merchant_id>0</merchant_id>
            </general>
        </cogensoft_tracking>
    </default>
</config>